# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
venv/
ENV/
env/
.venv/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm / VSCode / Editors
.idea/
.vscode/
*.swp
*.swo

# Django / Flask stuff
*.log
local_settings.py
instance/
.webassets-cache

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pytype
.pytype/

# Caches
__pypackages__/
.cache/
.mr.developer.cfg

# dotenv
.env
.env.*

# Misc
*.DS_Store
